
<div class="container">
  <div class="header">
    <h1 class="program-title"><%= @program.name %></h1>
  </div>
  <h1>Required Courses</h1>
  <% @course_names.each do |course| %>
    <div class="course"><%= course %>
    <% if @course_count[course] > 1 %>
      x<%= @course_count[course] %>
    <% end %>
    </div>
  <% end %>
  <% if @requirements != '' %>
    <h1>Notes</h1>
    <%= @requirements %>
  <% end %>
  <div class="footer">
    <a href="<%= @rpi_url %>">View in RPI Catalog</a>
  </div>
</div>
